# unilog Production Docker Environment Template
PORT=8002
UNILOG_ENV=production
UNILOG_LOG_LEVEL=INFO
UNILOG_TRUST_PROXY=true

# Prometheus Configuration
PROMETHEUS_SCRAPE_INTERVAL=15s

# Grafana Security Credentials
GF_SECURITY_ADMIN_PASSWORD=admin
